body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 40px;
}

h1 {
  color: #333;
  text-align: center;
}

.todo-container{
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}

.task-input{
    gap: 10px;
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.task-input button{
    background: #28a745;
    cursor: pointer;
    border-radius: 5px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

span{
    flex: 1;
}

.edit{    
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.edit-toggle{    
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}


.delete {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.edit-toggle:hover{    
    transform: scale(1.2);
}

.edit:hover{    
    transform: scale(1.2);
}

.delete:hover {
    transform: scale(1.2);
}

.delete-form {
    display: inline
}

#todo-list {
    cursor: pointer;
}

#todo-list li.done span{
    text-decoration: line-through;
    color: gray;
}

.done .task-text {
  text-decoration: line-through;
  color: gray;
}

/* CSS for About Me */

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0, 0.2);
}